@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/*
 website background color: #212428
 website button color: #ff014f
 website linear gradient: #6f66ca #f6636f


*/